html {
    background-color: rgb(212, 129, 4);
    padding: 10px;
    height: 3000px;
}

body {
    background-color: rgb(80, 0, 69);
    padding: 10px;
    margin: 10px;
    position: relative;
}

header {
    background-color: rgb(3, 82, 36);
    padding: 10px;
    margin: 10px;
    position: relative;
}

main {
    background-color: rgb(12, 117, 187);
    padding: 10px;
    /* margin: 10px; */
    position: absolute;
    top: 0;
    z-index: 1;
}

footer {
    background-color: rgb(139, 28, 20);
    padding: 10px;
    margin: 10px;
}