* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(235, 235, 235);
  }
  
  /* Page layout CSS */
  .main {
    height: 55vh;
    margin-top: 1vh;
    padding-top: 25vh;
  }
  /* Page layout CSS ends */
  
  
  
  /* Nav layout CSS */
  .logo {
    max-width: 100px;
    width: 100%;
    height: auto;
    float: left;
  }
  
  
  .navbar {
    width: 100%;
    background-color: white;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right; 
  }
  
  .navbar a {
    float: none;
    padding: 2vh 8vw 2vh 8vw;
    margin-top: 10px;
    /* margin-right: 1vw; */
    color: rgb(43, 43, 56);
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
  }
  
  .navbar a:hover {
    color: rgb(212, 129, 4);
  }
  
  .navbar a.active {
    background-color: white;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1vh;
    margin-top: 0px;
    }
  
    .logo {
    display: none;
    }
  }
  /* NEW NAV BAR ENDS######################## */
  
  
  
  /* Main body CSS */
  .title {
    text-align: center;
    font-size: 4vh;
  }
  
  hr {
    width: 80%;
  }
  
  h2.title {
    text-align: center;
    font-size: 2.5vh;
  }
  
  .main {
    background-image: url("../images/unipalebw.png");
    width: 100%;
    background-size: cover;
  }
  /* Main body CSS end */
  
  
  
  /* Blog CSS */
  /* parent */
  .blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    
  }
  
  /* child */
  .blog-list a {
    text-decoration: none;
    flex-basis: 300px;
    margin: 1vw;
    padding: 1vw;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  h3 {
    text-align: center;
    font-size: 1.5em;
    color: black;
  }
  
  p.preview{
    text-align: center;
    font-size: 1em;
    color: black;
  }
  /* Blog CSS ends */
  
  
  /* ######KAKAPO SECTION###### */
  
  .share {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
  }
  
  .introduction{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: white;
  }
  
  .kakapo {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: inline-block;  
  }
  
  .introduction.funinfo {
    font-size: 2vh;
  }
  
  @media screen and (max-width: 600px) {
    .kakapo {
      max-width: 300px;
      width: 100%;
      height: auto;
      border-radius: 50%;
      display: inline-block;  
    }
    
    .introduction.funinfo {
      font-size: 2vh;
    }
  }
  
  
  
  /* #####KAKAPO SECTION ENDS###### */
  
  
  
   /* Section/main writing area */
   .study {
      width: 100%;
      margin-bottom: 1vh;
   }
  
   h4 {
    font-size: 2em;
    margin: 1.5vh 0.5vw 0.5vh 0.5vw;
    padding-left: 1.5vw;
   }
  
   .words {
    width: 100%;
    padding: 0.5vh 3vw 0.5vh 1vw;
    margin-left: 2vw;
    line-height: 1.8;
    font-size: 1.2em;
   }
  
   .h {
     font-size: 1.5em;
     padding-left: 1.5vw;
   }
  
   .code {
     font-family: 'Courier New', Courier, monospace;
     list-style-type: none;
    }

   /* Parent */
   .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
  

  /* ######SPRINT3 TECH######## */
  .share-space {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
    .dom-model {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: inline-block;  
  }

  .share-space-heading {
    font-size: 1.3em;
  }


@media screen and (max-width: 900px) {
  .share-space {
    display: block;
    align-items: center;
    padding: 10px;
  }
}

  @media screen and (max-width: 900px) {
    .dom-model {
      max-width: 500px;
      width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

/* #####SPRINT 3 TECH IMAGE STYLING */
.share-space-cf {
  display: flex;
  align-items: top;
  padding: 10px;
}

img.fc {
  max-width: 700px;
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: 1vh;
  padding-bottom: 1vh;
  float: right;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);

}

figcaption {
  clear: right;
  text-align: right;
}


@media screen and (max-width: 1100px) {
  .share-space-cf {
    display: block;
    align-items: center;
    padding: 10px;
  }
}

  @media screen and (max-width: 1100px) {
    img.fc {
      max-width: 600px;
      width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
    figcaption {
  
      text-align: left;
    }

  }

/* ####LAST IMAGE STYLING */
  .share-space-bt {
    display: block;
    align-items: center;
    padding: 10px;
  }
  
  img.lastImage {
    max-width: 700px;
    width: 100%;
    height: auto;
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  .bottom {
    text-align: left;
  }


  @media screen and (max-width: 1100px) {
    .share-space-bt {
      display: block;
      align-items: center;
      padding: 10px;
    }
  }
  
    @media screen and (max-width: 1100px) {
      img.lastImage {
        max-width: 600px;
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
