 /* ######SPRINT3 TECH######## */
  .share-space {
    display: flex;
    align-items: center;

  }

  .share-space div.words {
    padding-right: 3vw;
  }

  @media screen and (max-width: 900px) {
    .share-space div.words {
      padding-right: 8vw;
    } 
  }
  
  .dom-model {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: inline-block;  
  }

@media screen and (max-width: 900px) {
  .share-space {
    display: block;
    align-items: center;
    padding: 10px;
  }
}

  @media screen and (max-width: 900px) {
    .dom-model {
      max-width: 500px;
      width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

/* #####SPRINT 3 TECH IMAGE STYLING */
.share-space-cf {
  display: flex;
  align-items: top;
  padding: 10px;
}

img.fc {
  max-width: 700px;
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: 1vh;
  padding-bottom: 1vh;
  float: right;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);

}

figcaption {
  clear: right;
  text-align: right;
}


@media screen and (max-width: 1100px) {
  .share-space-cf {
    display: block;
    align-items: center;
    padding: 10px;
  }
}

  @media screen and (max-width: 1100px) {
    img.fc {
      max-width: 600px;
      width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
    figcaption {
      text-align: left;
    }

  }

/* ####LAST IMAGE STYLING need to center last image still*/
  .share-space-bt {
    display: block;
    align-items: center;
    padding: 10px;
  }
  
  img.lastImage {
    max-width: 700px;
    width: 100%;
    height: auto;
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .bottom {
    text-align: left;
  }


  @media screen and (max-width: 1100px) {
    .share-space-bt {
      display: block;
      align-items: center;
      padding: 10px;
    }
  }
  
    @media screen and (max-width: 1100px) {
      img.lastImage {
        max-width: 600px;
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
