* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  background-color: rgb(235, 235, 235);
}

/* Page layout CSS */
.main {
  height: 55vh;
  margin-top: 1vh;
  padding-top: 25vh;
}
/* Page layout CSS ends */





/* Nav layout CSS */
.logo {
  max-width: 100px;
  width: 100%;
  height: auto;
  float: left;
}

.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-align: right; 
}

.navbar a {
  float: none;
  padding: 2vh 8vw 2vh 8vw;
  margin-top: 25px;
  color: rgb(43, 43, 56);
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

.navbar a:hover {
  color: rgb(212, 129, 4);
}

.navbar a.active {
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .logo {
    max-width: 90px;
  }
  .navbar a {
    margin-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    max-width: 85px;
  }
  .navbar a {
    margin-top: 17px;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    max-width: 80px;
  }
  .navbar a {
    margin-top: 15px;
  }
}



@media screen and (max-width: 600px) {
  .navbar {
    text-align: center;
  }
  .navbar a {
  margin-top: 0px;
  }
  .logo {
  display: none;
  }
}

@media screen and (max-width: 450px) {
  .navbar a {
  font-size: 1em;
  padding: 2vh 7vw 2vh 7vw;
  }
}




/* NEW NAV BAR ENDS######################## */





/* Main body CSS */
.title {
  text-align: center;
  font-size: 4vh;
}

hr {
  width: 80%;
}

h2.title {
  text-align: center;
  font-size: 2.5vh;
}

.main {
  background-image: url("../images/unipalebw.png");
  width: 100%;
  background-size: cover;
}
/* Main body CSS end */





/* Blog LINKS CSS */



/* First child */
.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0px;
}

/* Second child */
.blog-list a {
  text-decoration: none;
  flex-basis: 300px;
  margin: 1vw;
  padding: 1vw;
  border-radius: 5%;
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

img {
  width: 100%;
  height: auto;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  color: black;
}

p.preview{
  text-align: center;
  font-size: 1em;
  color: black;
}


@media screen and (max-width: 700px) {
  .blog-list a {
    flex-basis: 175px;
    margin: 2vw;
  }

  h3 {
    font-size: 1em;
  }
  
  p.preview{
    font-size: .8em;
  }
}

@media screen and (max-width: 400px) {
  .blog-list a {
    flex-basis: 150px;
    margin: 1.5vw;
  }
}

@media screen and (max-width: 350px) {
    .blog-list a {
      flex-basis: 140px;
      margin: 1.5vw;
    }
}
/* Blog CSS ends */


/* ######KAKAPO SECTION###### */
.share {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  margin: 1vh 5vw 1vh 5vw;
}

.introduction{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  color: white;
}

.kakapo {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: inline-block;  
}

.introduction.funinfo {
  font-size: 2.5vh;
}

@media screen and (max-width: 600px) {
  .share {
    display: flex;
    align-items: center;
    background-color: black;
    margin: 1vh 1vw 1vh 1vw;
  }
  
  .introduction{
    margin: 1vh 1vw 1vh 1vw;
  }
  
  .kakapo {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: inline-block;  
  }
  
  .introduction.funinfo {
    font-size: 3vh;
  } 
}
/* #####KAKAPO SECTION ENDS###### */





 /* Section/main writing area */
 .study {
    width: 100%;
    margin-bottom: 1vh;
 }

 h4 {
  font-size: 1.8em;
  margin: 1.5vh 0.5vw 0.5vh 0.5vw;
  padding-left: 1.5vw;
 }

 .words {
  width: 100%;
  padding: 0.5vh 5vw 0.5vh 5vw;
  line-height: 1.6;
  font-size: 1em;
 }

 .h {
   font-size: 1.3em;
 }

 span.h {
  font-size: 1.3em;
}

span.rating {
  font-size: 1.1em;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 1vw;
  background-color: black;
  color: white;
}

 .code {
   font-family: 'Courier New', Courier, monospace;
 }
 /* Parent */
 .pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

 }

/* 1st child */
 .screen-shot {
  padding: 0vh 0vw 0vh 0vw;
  margin: 0vh 1vw 0vh 1vw;
  flex-basis: 400px;
 }


 /* 2nd child */
 .screen-shot-item {
  flex-basis: 300px;
}


.pink {
  background-color: pink;
  margin: 10px;
  padding: 10px;
}


/* ######SPRINT 4 IMAGE CSS*/
.maze-width {
  padding: 1vh 1vw 1vh 1vw;
}


img.maze {
  max-width: 900px;
  width: 100%;
  height: auto;
}



/* ###TABS SECTION CSS */
.tab {
  overflow: hidden;
  border: 1px solid blue;
  background-color: rgb(175, 167, 164);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: khaki;
}

.tab button.active {
  background-color: rgb(66, 58, 141);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid green;
  border-top: none;
  -webkit-animation: fadeEffect 3s;
  animation: fadeEffect 3s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}