* { 
    border: 1px solid;     
    font-family: 'Ropa Sans', sans-serif;
}

.row {
    display: flex;
}


.logo {
    font-size: larger;
    text-align: center;

}


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    float: right;
}
  
.nav-link a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
  }
  
.nav-link a:hover {
    background-color: #111;
  }


.col-3 {
    width: 25%;
}

/* .navcolor {
    background-color: aquamarine;
} */

.col-9 {
    
    colour: rgba(8, 31, 243, 0.938);
    width: 75%;
}

/* .toprow {
    position: fixed;
    top: 0;
    width: 100%;
  } */

.bg-img {
    background-image: url("../images/unipale.png");
    background-color: rgb(187, 187, 187);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    overflow: visible;
    white-space: nowrap;
    position: relative;
}