* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* Page layout CSS */

.main {
  height: 45vh;
  margin-top: 1vh;
  padding-top: 15vh;
}
/* Page layout CSS ends */


.top-nav {
  display: inline;
}


/* Logo CSS */
.logo {
  text-align: center;
}
/* Logo CSS ends */



/* Nav layout CSS */
ul.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav-item a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(212, 129, 4);
}
/* Nav layout CSS ends */



/* Main body CSS */
.title {
  text-align: center;
  font-size: 2em;
}

p.title {
  text-align: center;
  font-size: 1em;
}

.main {
  background-image: url("../images/unipalebw.png");
  width: 100%;
  background-size: cover;
}
/* Main body CSS end */



/* Blog CSS */
.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.blog-item {
  flex-basis: 300px;
  margin: 1vw;
  padding: 1vw;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-item a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  color: black;
}


p {
  text-align: center;
  font-size: 1em;
  color: black;
}

.blog-item a:hover {
  color: rgb(212, 129, 4);
}
/* Blog CSS ends */